# Username and password to be used by jenkins slave to connect to master
#
JENKINS_USER=jenkins
JENKINS_PASS=jenkins


# Name of the slave
#
# JENKINS_NAME=worker


# Description to be put on the slave
#
# JENKINS_DESCRIPTION=A_Jenkins_worker


# Number of executors. Default is equal with the number of available CPUs
#
# JENKINS_EXECUTORS=3


# Whitespace-separated list of labels to be assigned
# for this slave. Multiple options are allowed.
#
# JENKINS_LABELS=ubuntu


# Number of retries before giving up. Unlimited if not specified.
#
# JENKINS_RETRY=3


# The mode controlling how Jenkins allocates jobs to
# slaves. Can be either 'normal' (utilize this slave
# as much as possible) or 'exclusive' (leave this
# machine for tied jobs only). Default is normal.
#
# JENKINS_MODE=normal


# The complete target Jenkins URL like 'http://server:8080/jenkins/'.
# If this option is specified, auto-discovery will be skipped
#
# JENKINS_MASTER=http://ci.eionet.europa.eu


# Connect to the specified host and port, instead of
# connecting directly to Jenkins. Useful when
# connection to Hudson needs to be tunneled. Can be
# also HOST: or :PORT, in which case the missing
# portion will be auto-configured like the default
# behavior
#
# JENKINS_TUNNEL=


# Whitespace-separated list of tool locations to be
# defined on this slave. A tool location is
# specified as 'toolName:location'
#
# $JENKINS_TOOL_LOCATIONS=


# Do not retry if a successful connection gets closed.
#
# JENKINS_NO_RETRY_AFTER_CONNECTED=True


#Use this address for udp-based auto-discovery (default 255.255.255.255)
#
# JENKINS_AUTO_DISCOVERY_ADDRESS=255.255.255.255


# Disables SSL verification in the HttpClient.
#
# JENKINS_DISABLE_SSL_VERIFICATION=True
